body,html {
	  height: 100%;
	  width: 100%;
	  font-family: 'Montserrat', sans-serif;
	 

}

h1{
	font-size:5rem;
	color:  #ffffff;
}
.btn{
	font-weight: 700;
	border-radius: 300px;
}
}
.btn-xl{
	padding: 1rem 2rem;
	border-radius: 300px;
}
.btn-primary{
	background-color: 
}
hr {
	border-color:  #595959;
	max-width: 250px;
	border-width: 3px
}
.buffer{
	height: 280px;
}
img {
	opacity: 0.7;
}
body,html{
 background: url(running.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}
.btn-primary:hover {

	    background-color: #000000;

}